@import "mocha.css";

* {
  font-family: "monospace";
  font-size: 14px;
}

window#waybar {
  background-color: @base;
  color: @text;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background: inherit;
  box-shadow: inset 0 -3px @text;
}

#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  color: @text;
}

#workspaces button:hover {
  background: @surface0;
}

#workspaces button.focused {
  background-color: @surface2;
  box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
  background-color: @red;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  padding: 0 10px;
  color: @text;
}

#window,
#workspaces {
  margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

.modules-right > widget:first-child > #workspaces {
  margin-right: 0;
}
